
div.contain {
    width: 1230px;
    margin: 0 auto;
    height: 1544px;
    /*background: #ffe49e;*/
    padding: 20px 0 0 0;
    position: relative;
}

div.contain .wrap {
    width: 560px;
    height: 560px;
    position: relative;
    z-index: 7;
    float: left;
}

div.contain .list {
    list-style: none;
    width: 800px;
    height: 400px;
    padding-left: 0;
}

div.contain .item {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: all 0.8s;

}

div.contain .item.active {
    opacity: 1;
    z-index: 10;
}

div.contain .item:nth-child(1) {
    background-image: url("../../image/xm10_change_1.jpg");
    background-size: 560px 560px;
    background-repeat: no-repeat;
}

div.contain .item:nth-child(2) {
    background-image: url("../../image/xm10_change_2.jpg");
    background-size: 560px 560px;
    background-repeat: no-repeat;
}

div.contain .item:nth-child(3) {
    background-image: url("../../image/xm10_change_3.jpg");
    background-size: 560px 560px;
    background-repeat: no-repeat;
}

div.contain .item:nth-child(4) {
    background-image: url("../../image/xm10_change_4.jpg");
    background-size: 560px 560px;
    background-repeat: no-repeat;
}

div.contain .item:nth-child(5) {
    background-image: url("../../image/xm10_change_5.jpg");
    background-size: 560px 560px;
    background-repeat: no-repeat;
}

div.contain .btn {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 190px;
    z-index: 10;
}

div.contain #goPre {
    left: 0;
}

div.contain #goNext {
    right: 0;
}

div.contain .pointList {
    padding-left: 0;
    list-style: none;
    position: absolute;
    right: 120px;
    bottom: 20px;
    z-index: 50;
}

div.contain .point {
    float: left;
    background: #ccc;
    width: 50px;
    border-radius: 0;
    border: 0;
    height: 2px;
    margin-right: 14px;
    cursor: pointer;
}

div.contain .point.active {
    background-color: rgba(164, 164, 164, 0.8);
}

div.contain button {
    background: rgba(0, 0, 0, 0.0);
    border: none;
    outline: none;
    color: #e0e0e0;
    font-size: 35px;
}

div.contain button:hover {
    background: rgba(0, 0, 0, 0.5);
}

/*商品概述*/
.pro-details{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #ddd;
}
.pro-details ul.pro-details-ul{
    width: 338px;
    height: 60px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    /*background: #a2a2a2;*/
}
.pro-details ul.pro-details-ul span{
    display: block;
    height: 58px;
    width: 2px;
    color: #e0e0e0;
    float: left;
    line-height: 53px;
}
.pro-details ul.pro-details-ul li{
    width: 168px;
    height: 58px;
    float: left;
    /*background: red;*/
    text-align: center;
}
.pro-details ul.pro-details-ul li a.pro-title{
    color: #757575;
    font-size: 18px;
    line-height: 55px;
}
.pro-title-active{
    color: #ff6700;
    font-size: 18px;
    line-height: 55px;
}

/*商品概述，内嵌html*/
.pro-details-contain{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}
.pro-details-contain iframe{
    width: 100%;
    height: auto;
    background: #757575;
    /*border: none;*/
}