* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input {
    border: none;
    background: none;
    outline: none;
}

/*侧边导航栏*/
aside {
    position: fixed;
    right: 0;
    top: 10px;
    width: 84px;
    height: 561px;
    margin-top: 100px;
    /*background: #ffffff;*/
    z-index: 40;
}

aside div.side-list {
    width: 84px;
    height: 469px;
    background: none;

}

aside div.side-list ul.side-list-ul {
}

aside div.side-list ul.side-list-ul li {
    width: 84px;
    height: 93px;
    background: #ffffff;
    list-style: none;
    text-align: center;
}

aside div.side-list ul.side-list-ul li a {
    text-decoration: none;
    color: #e0e0e0;
}

aside div.side-list ul.side-list-ul li:nth-child(6) {
    margin-top: 15px;
    background: #ffffff;
    opacity: 0;
    transition: all 0.3s;
}

.top {
    opacity: 0;
}

aside div.side-list ul.side-list-ul li a div.App {
    width: 84px;
    height: 92px;
    position: relative;
    border: 1px solid #f5f5f5;

}

aside div.side-list ul.side-list-ul li a div.App span {
    color: #757575;
    /*position: absolute;*/
    /*bottom: 18px;*/
    /*left: 14px;*/
    line-height: 140px;
    font-size: 14px;
    transition: color 0.3s;
}

aside div.side-list ul.side-list-ul li a div.App img {
    position: absolute;
    top: 20px;
    right: 27px;
    transition: all 0.3s;
}

aside div.side-list ul.side-list-ul li a div.App:hover span {
    color: #ff6700;
}

aside div.side-list ul.side-list-ul li a div.App img:nth-child(2) {
    display: none;
}

aside div.side-list ul.side-list-ul li a div.App:hover img:nth-child(2) {
    display: block;
    top: 19px;
}

aside div.side-list ul.side-list-ul li a div.App:hover img:nth-child(1) {
    display: none;
}

aside div.side-list ul.side-list-ul li:hover div.side-code {
    opacity: 1;
}

aside div.side-list ul.side-list-ul li div.side-code:hover {
    opacity: 0;
}

aside div.side-list ul.side-list-ul li div.side-code {
    width: 130px;
    height: 190px;
    opacity: 0;
    position: absolute;
    left: -140px;
    top: 0;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 40;
}

aside div.side-list ul.side-list-ul li div.side-code img {
    margin-top: 20px;
    /*margin-left: 5px;*/
}

aside div.side-list ul.side-list-ul li div.side-code p {
    font-size: 14px;
    color: #757575;
    margin-top: 5px;
}

/*购物车顶部*/
header {
    width: auto;
    height: 72px;
    /* background: #00bbf0; */
    padding: 30px 0 0 25px;
    border-bottom: 2px solid #ff6700;
}

header .head {
    width: 1230px;
    height: 48px;
    margin: 0 auto;
}

/*小米logo*/
header .head .logo {
    width: 48px;
    height: 48px;
    float: left;
    background: #ff6700;
    margin-right: 48px;
}

/*我的购物车*/
header .head .myCart {
    width: 491px;
    height: 48px;
    /*background: #ffffff;*/
    float: left;
}

header .head .myCart h2 {
    float: left;
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 0;
    font-weight: normal;
}

header .head .myCart p {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 15px;
    color: #757575;
    font-size: 12px;
}

/*用户*/
header .head .user-info {
    width: 171px;
    height: 40px;
    float: right;
    /*background: #ffffff;*/
    /*padding-top: 15px;*/
    position: relative;
}

header .head .user-info .user {
    width: 110px;
    height: 40px;
    padding-top: 15px;
    float: left;
    font-size: 12px;
    color: #757575;
    text-align: center;
    cursor: pointer;
}

header .head .user-info .user span.list {
    display: inline-block;
    width: 24px;
    /*height: 25px;*/
    font-size: 12px;
    font-weight: bold;
    color: #757575;
    transform: rotate(90deg);
    /*background: #ff685b;*/
}

header .head .user-info .sep {
    font-size: 12px;
    color: #757575;
    float: left;
    height: 25px;
    padding-top: 15px;
}

/*用户功能列表*/
header .head .user-info .user .user-list {
    width: 120px;
    /*height: 164px;*/
    height: 0;
    /*display: none;*/
    position: absolute;
    top: 40px;
    left: 0;
    cursor: pointer;
    background: #FFFFFF;
    transition: height 0.3s;
    overflow: hidden;
}

header .head .user-info .user:hover .user-list {
    height: 164px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .15);
}

header .head .user-info .user .user-list ul.user-list-ul {
    /*background: #ff6700;*/
    width: 120px;
    height: 164px;
    /*height: 0;*/
    transition: height 0.3s;
}

header .head .user-info .user .user-list ul.user-list-ul li {
    width: 120px;
    height: 30px;
    text-align: center;
    /*background: #00bbf0;*/
    margin-top: 3px;
    transition: all 0.3s;
}

header .head .user-info .user .user-list ul.user-list-ul li:hover {
    background: #f5f5f5;
}

header .head .user-info .user .user-list ul.user-list-ul li:hover a {
    color: #ff6700;
}

header .head .user-info .user .user-list ul.user-list-ul li a {
    font-size: 12px;
    color: #757575;
    line-height: 30px;
}

/*我的订单*/
header .head .user-info .myOrder {
    width: 48px;
    height: 25px;
    padding-top: 15px;
    float: right;
    font-size: 12px;
    color: #757575;
    cursor: pointer;
    transition: all 0.3s;
}

header .head .user-info .myOrder:hover {
    color: #ff6700;
}

article {
    width: 100%;
    height: auto;
    background: #f5f5f5;
}

/*购物车列表*/
.Cart-all-list {
    width: 1230px;
    height: auto;
    /* background: #ffffff; */
    margin: 0 auto;
    padding: 30px 0 20px 0;
}

.Cart-all-list table {
    width: 1230px;
    height: auto;
    /*padding: 25px 25px;*/
    background: #FFFFFF;
}

.Cart-all-list table thead {
    /*padding: 15px 10px;*/
}

.Cart-all-list table thead tr td {
    padding: 25px 25px 25px 25px;
    text-align: center;
    font-size: 14px;
    color: #424242;
}

.Cart-all-list table tbody tr td {
    border-top: 1px solid #e0e0e0;
}

.Cart-all-list table tbody tr td {
    padding: 10px 0;
    text-align: center;
}

.Cart-all-list table tbody tr td h3 {
    font-size: 18px;
    font-weight: normal;
    color: #424242;
}

.Cart-all-list table tbody tr td .count-input {
    width: 150px;
    height: 40px;
    /*background: #ff6700;*/
    margin: 0 auto;
}

.Cart-all-list table tbody tr td .count-input input.text-input {
    width: 72px;
    height: 38px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    float: left;
    color: #424242;
    font-size: 16px;
}

.Cart-all-list table tbody tr td .count-input .reduce {
    width: 38px;
    height: 38px;
    float: left;
    background: #FFFFFF;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    line-height: 35px;
    font-size: 20px;
    transition: all 0.2s;
}

.Cart-all-list table tbody tr td .count-input .reduce:hover {
    background: #e0e0e0;
}

.Cart-all-list table tbody tr td .count-input .add {
    width: 38px;
    height: 38px;
    float: right;
    background: #FFFFFF;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    line-height: 35px;
    font-size: 20px;
    transition: all 0.2s;
}

.Cart-all-list table tbody tr td .count-input .add:hover {
    background: #e0e0e0;
}

.Cart-all-list table tbody tr td span.Small-count {
    width: 201px;
    height: 56px;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.Cart-all-list table tbody tr td span.price {
    width: 158px;
    height: 56px;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.Cart-all-list table tbody tr td .delete {
    width: 80px;
    height: 60px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    /*background: #757575;*/
}

.Cart-all-list table tbody tr td .delete span {
    display: block;
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-radius: 50%;
    /*background: #ff6700;*/
    font-size: 16px;
    color: #757575;
    font-weight: normal;
    cursor: pointer;
}

.Cart-all-list table tbody tr td .delete span:hover {
    color: #fff;
    background: #ff6700;
}

/*购物车列表checkbox*/

/*checkAll---box*/
.Cart-all-list table thead tr td .checkAll {
    width: 20px;
    height: 20px;
    border: 1px solid #e0e0e0;
    text-align: center;
    float: left;
    margin: 0 25px 0 5px;
    position: relative;
    cursor: pointer;
}

.Cart-all-list table thead tr td .checkAll span {
    position: absolute;
    top: 0;
    left: 5px;
    opacity: 0;
}

.Cart-all-list table thead tr td .checkAll:hover span {
    opacity: 1;
}

/*check---box---checked---style*/
.checked_add:before {
    background: #ff6700;
    content: "\2714";
    width: 20px;
    height: 20px;
    display: block;
    color: #FFFFFF;
    font-size: 14px;
}

/*check---one---box*/
.Cart-all-list table tbody tr td .check-one {
    width: 20px;
    height: 20px;
    border: 1px solid #e0e0e0;
    text-align: center;
    margin: 0 25px 0 30px;
    position: relative;
    cursor: pointer;
}

.Cart-all-list table tbody tr td .check-one span {
    position: absolute;
    top: 0;
    left: 5px;
    opacity: 0;
    /*display: none;*/
}

.Cart-all-list table tbody tr td .check-one:hover span {
    opacity: 1;
    /*display: block;*/
}

.Cart-all-list table tbody tr td.choose-service{
    color: #ff6700;
}

/*购物车结算*/
.cart-bar {
    width: 1230px;
    height: 50px;
    margin: 20px auto;
    background: #FFFFFF;
    position: relative;
}

.cart-bar .bar-left {
    width: 400px;
    height: 50px;
    float: left;
    /*background: red;*/
}

.cart-bar .bar-left a {
    display: block;
    width: 56px;
    height: 16px;
    margin-left: 30px;
    margin-right: 20px;
    line-height: 50px;
    font-size: 14px;
    float: left;
    color: #757575;
    transition: all 0.3s;
}

.cart-bar .bar-left a:hover {
    color: #ff6700;
}

.cart-bar .bar-left .cart-total {
    width: auto;
    height: 16px;
    padding-left: 16px;
    font-size: 14px;
    color: #757575;
    position: absolute;
    top: 15px;
    border-left: 1px solid #e0e0e0;
    /* background: #95ffaf; */
    left: 100px;
}

.cart-bar .bar-left .cart-total i {
    color: #ff6700;
    font-style: normal;
    margin: 0 5px;
}

.cart-bar .total-price {
    width: auto;
    height: 50px;
    float: left;
    /*background: #00bbf0;*/
    color: #ff6700;
    position: absolute;
    top: 0;
    right: 242px;
}

.cart-bar .total-price span {
    color: #ff6700;
    font-size: 30px;
    line-height: 48px;
}

.cart-bar .bar-right {
    cursor: pointer;
    width: 202px;
    height: 50px;
    float: right;
    background: #ff6700;
    text-align: center;
}

.cart-bar .bar-right a {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 48px;
}

/*买购物车中商品的人还买了*/
.recommend-buy {
    width: 1230px;
    height: 693px;
    /*background: #00bbf0;*/
    margin: 60px 0 30px 0;
}

.recommend-buy h2.recommend-title {
    position: relative;
    margin: 0;
    height: 40px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
    -webkit-font-smoothing: antialiased;
}

.recommend-buy h2.recommend-title span.txt {
    position: absolute;
    top: -20px;
    left: 372px;
    height: 40px;
    width: 482px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
}

.recommend-buy .recommend-list {
    width: 1230px;
    height: 628px;
    /*background: #FFFFFF;*/
}

.recommend-buy .recommend-list ul.recommend-list-ul {

}

.recommend-buy .recommend-list ul.recommend-list-ul li {
    width: 234px;
    height: 300px;
    background: #fff;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

.recommend-buy .recommend-list ul.recommend-list-ul li:nth-child(1) {
    margin-left: 0;
}

.recommend-buy .recommend-list ul.recommend-list-ul li:nth-child(6) {
    margin-left: 0;
}

.recommend-buy .recommend-list ul.recommend-list-ul li a {
    width: 200px;
    height: 18px;
    text-align: center;
}

.recommend-buy .recommend-list ul.recommend-list-ul li a img {
    margin: 25px 0 30px 0;
}

.recommend-buy .recommend-list ul.recommend-list-ul li a p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.recommend-buy .recommend-list ul.recommend-list-ul li p.price {
    margin-bottom: 20px;
    color: #ff6700;
    font-size: 14px;
}

.recommend-buy .recommend-list ul.recommend-list-ul li p.good-news {
    margin-bottom: 10px;
    font-size: 14px;
    color: #757575;
}

.recommend-buy .recommend-list ul.recommend-list-ul li .inert-cart {
    width: 123px;
    height: 30px;
    position: absolute;
    left: 50px;
    bottom: 10px;
    background: #FFFFFF;
    font-size: 14px;
    color: #ff6700;
    text-align: center;
    line-height: 30px;
    transition: all 0.2s;
    opacity: 0;
}

.recommend-buy .recommend-list ul.recommend-list-ul li:hover .inert-cart {
    border: 1px solid #ff6700;
    opacity: 1;
}

.recommend-buy .recommend-list ul.recommend-list-ul li .inert-cart:hover {
    opacity: 1;
    color: #fff;
    background-color: #f25807;
    border-color: #f25807;
    cursor: pointer;
}

/*foot*/
footer {
    width: 100%;
    height: 272px;
}

footer div.contain {
    width: 1230px;
    height: 272px;
    /*background: #0077aa;*/
    margin: 0 auto;
}

footer div.contain div.foot-service {
    width: 1230px;
    height: 80px;
    /*background: #ff6700;*/
    border-bottom: 1px solid #e0e0e0;
}

footer div.contain div.foot-service ul.foot-service-ul {

}

footer div.contain div.foot-service ul.foot-service-ul li {
    list-style: none;
    width: 243px;
    height: 25px;
    text-align: center;
    padding: 28px 0 23px 0;
    float: left;
}

footer div.contain div.foot-service ul.foot-service-ul li a {
    color: #757575;
    text-decoration: none;
    font-size: 16px;
    width: 126px;
    height: 17px;
    /*position: relative;*/
    /*background: #e0e0e0;*/
    transition: color 0.3s;
}

footer div.contain div.foot-service ul.foot-service-ul li a:hover {
    color: #ff6700;
}

footer div.contain div.foot-service ul.foot-service-ul li a span {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

footer div.contain div.foot-service ul.foot-service-ul li a div.img {
    position: relative;
}

footer div.contain div.foot-service ul.foot-service-ul li a div.img img {
    position: absolute;
    left: 30px;
}

footer div.contain div.foot-service ul.foot-service-ul li a div.img img:nth-child(2) {
    display: none;
}

footer div.contain div.foot-service ul.foot-service-ul li a:hover div.img img:nth-child(2) {
    display: block;
}

footer div.contain div.foot-service ul.foot-service-ul li span.line {
    border: 1px solid #e0e0e0;
    height: 17px;
    float: right;
}

footer div.contain div.foot-service ul.foot-service-ul li:nth-child(5) span.line {
    border: none;
}

/*foot-link*/
footer div.contain div.foot-link {
    width: 1230px;
    height: 132px;
    /*background: #acacac;*/
    padding: 40px 0;
}

footer div.contain div.foot-link ul.foot-link-ul {
    width: 160px;
    height: 132px;
    float: left;
    /*background: #e0e0e0;*/
}

footer div.contain div.foot-link ul.foot-link-ul li {
    list-style: none;
}

footer div.contain div.foot-link ul.foot-link-ul li h3 {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

footer div.contain div.foot-link ul.foot-link-ul li a {
    text-decoration: none;
    color: #757575;
    font-size: 12px;
}

footer div.contain div.foot-link ul.foot-link-ul li a:hover {
    color: #ff6700;
}

/*contact*/
footer div.contain div.foot-link div.contact {
    width: 252px;
    height: 111px;
    float: right;
    /*background: #55a532;*/
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #e0e0e0;
}

footer div.contain div.foot-link div.contact p {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

footer div.contain div.foot-link div.contact p:nth-child(2) {
    margin: 10px 0 10px 0;
    color: #757575;
    font-size: 12px;
}

footer div.contain div.foot-link div.contact div.peo_service {
    width: 120px;
    height: 30px;
    text-align: center;
    border: 1px solid #ff6700;
    margin: 0 auto;
}

footer div.contain div.foot-link div.contact div.peo_service:hover {
    background: #ff6700;
}

footer div.contain div.foot-link div.contact div.peo_service a {
    text-decoration: none;
    color: #ff6700;
    font-size: 14px;
    width: 120px;
    height: 30px;
    /*background: #e0e0e0;*/
    float: right;
    line-height: 30px;
}

footer div.contain div.foot-link div.contact div.peo_service:hover a {
    color: #ffffff;
}

footer div.contain div.foot-link div.contact div.peo_service div.img_mes {
    width: 12px;
    height: 12px;
    float: left;
    position: relative;
}

footer div.contain div.foot-link div.contact div.peo_service div.img_mes img {
    position: absolute;
    top: 8px;
    left: 20px;
}

footer div.contain div.foot-link div.contact div.peo_service div.img_mes img:nth-child(2) {
    display: none;
}

footer div.contain div.foot-link div.contact div.peo_service:hover div.img_mes img:nth-child(2) {
    display: block;
}

/*follow*/
footer div.contain div.foot-link div.contact div.follow {
    margin: 5px auto;
    width: 120px;
    height: 21px;
    /*background: #ffe49e;*/
    /*text-align: center;*/
    position: relative;

}

footer div.contain div.foot-link div.contact div.follow span {
    color: #757575;
    font-size: 14px;
    width: 120px;
    height: 24px;
    position: relative;
    float: left;
}

footer div.contain div.foot-link div.contact div.follow span div.img {
    width: 24px;
    height: 24px;
    /*background: #0077aa;*/
    position: absolute;
    top: 0;
    right: 0;
}

footer div.contain div.foot-link div.contact div.follow span div.img img {
    position: absolute;
    top: 0;
    right: 0;
}

/*focus*/
footer div.contain div.foot-link div.contact div.follow div.focus {
    width: 126px;
    height: 126px;
    background: #ffffff;
    position: absolute;
    top: 25px;
    right: -50px;
    display: none;
}

footer div.contain div.foot-link div.contact div.follow div.img:hover div.focus {
    display: block;
    box-shadow: 0 1px 5px #aaa;
}

/*foot*/
footer {
    width: 100%;
    height: 372px;
}

footer div.contain {
    width: 1230px;
    height: 272px;
    /*background: #0077aa;*/
    margin: 0 auto;
}

footer div.contain div.foot-service {
    width: 1230px;
    height: 80px;
    /*background: #ff6700;*/
    border-bottom: 1px solid #e0e0e0;
}

footer div.contain div.foot-service ul.foot-service-ul {

}

footer div.contain div.foot-service ul.foot-service-ul li {
    list-style: none;
    width: 243px;
    height: 25px;
    text-align: center;
    padding: 28px 0 23px 0;
    float: left;
}

footer div.contain div.foot-service ul.foot-service-ul li a {
    color: #757575;
    text-decoration: none;
    font-size: 16px;
    width: 126px;
    height: 17px;
    /*position: relative;*/
    /*background: #e0e0e0;*/
    transition: color 0.3s;
}

footer div.contain div.foot-service ul.foot-service-ul li a:hover {
    color: #ff6700;
}

footer div.contain div.foot-service ul.foot-service-ul li a span {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

footer div.contain div.foot-service ul.foot-service-ul li a div.img {
    position: relative;
}

footer div.contain div.foot-service ul.foot-service-ul li a div.img img {
    position: absolute;
    left: 30px;
}

footer div.contain div.foot-service ul.foot-service-ul li a div.img img:nth-child(2) {
    display: none;
}

footer div.contain div.foot-service ul.foot-service-ul li a:hover div.img img:nth-child(2) {
    display: block;
}

footer div.contain div.foot-service ul.foot-service-ul li span.line {
    border: 1px solid #e0e0e0;
    height: 17px;
    float: right;
}

footer div.contain div.foot-service ul.foot-service-ul li:nth-child(5) span.line {
    border: none;
}

/*foot-link*/
footer div.contain div.foot-link {
    width: 1230px;
    height: 132px;
    /*background: #acacac;*/
    padding: 40px 0;
}

footer div.contain div.foot-link ul.foot-link-ul {
    width: 160px;
    height: 132px;
    float: left;
    /*background: #e0e0e0;*/
}

footer div.contain div.foot-link ul.foot-link-ul li {
    list-style: none;
}

footer div.contain div.foot-link ul.foot-link-ul li h3 {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

footer div.contain div.foot-link ul.foot-link-ul li a {
    text-decoration: none;
    color: #757575;
    font-size: 12px;
}

footer div.contain div.foot-link ul.foot-link-ul li a:hover {
    color: #ff6700;
}

/*contact*/
footer div.contain div.foot-link div.contact {
    width: 252px;
    height: 111px;
    float: right;
    /*background: #55a532;*/
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #e0e0e0;
}

footer div.contain div.foot-link div.contact p {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

footer div.contain div.foot-link div.contact p:nth-child(2) {
    margin: 10px 0 10px 0;
    color: #757575;
    font-size: 12px;
}

footer div.contain div.foot-link div.contact div.peo_service {
    width: 120px;
    height: 30px;
    text-align: center;
    border: 1px solid #ff6700;
    margin: 0 auto;
    transition: all 0.3s;
}

footer div.contain div.foot-link div.contact div.peo_service:hover {
    background: #ff6700;
}

footer div.contain div.foot-link div.contact div.peo_service a {
    text-decoration: none;
    color: #ff6700;
    font-size: 14px;
    width: 120px;
    height: 30px;
    /*background: #e0e0e0;*/
    float: right;
    line-height: 30px;
    transition: all 0.3s;
}

footer div.contain div.foot-link div.contact div.peo_service:hover a {
    color: #ffffff;
}

footer div.contain div.foot-link div.contact div.peo_service div.img_mes {
    width: 12px;
    height: 12px;
    float: left;
    position: relative;
}

footer div.contain div.foot-link div.contact div.peo_service div.img_mes img {
    position: absolute;
    top: 8px;
    left: 20px;
}

footer div.contain div.foot-link div.contact div.peo_service div.img_mes img:nth-child(2) {
    display: none;
}

footer div.contain div.foot-link div.contact div.peo_service:hover div.img_mes img:nth-child(2) {
    display: block;
}

/*follow*/
footer div.contain div.foot-link div.contact div.follow {
    margin: 5px auto;
    width: 120px;
    height: 21px;
    /*background: #ffe49e;*/
    /*text-align: center;*/
    position: relative;

}

footer div.contain div.foot-link div.contact div.follow span {
    color: #757575;
    font-size: 14px;
    width: 120px;
    height: 24px;
    position: relative;
    float: left;
}

footer div.contain div.foot-link div.contact div.follow span div.img {
    width: 24px;
    height: 24px;
    /*background: #0077aa;*/
    position: absolute;
    top: 0;
    right: 0;
}

footer div.contain div.foot-link div.contact div.follow span div.img img:nth-child(2) {
    display: none;
}

footer div.contain div.foot-link div.contact div.follow span div.img:hover img:nth-child(2) {
    display: block;
}

footer div.contain div.foot-link div.contact div.follow span div.img:hover img.fol_img_1 {
    display: none;
}

footer div.contain div.foot-link div.contact div.follow span div.img img {
    position: absolute;
    top: 0;
    right: 0;
}

/*focus*/
footer div.contain div.foot-link div.contact div.follow div.focus {
    width: 126px;
    height: 126px;
    background: #ffffff;
    position: absolute;
    top: 25px;
    right: -50px;
    display: none;
}

footer div.contain div.foot-link div.contact div.follow div.focus img:nth-child(1) {
    display: block;
}

footer div.contain div.foot-link div.contact div.follow div.img:hover div.focus {
    display: block;
    box-shadow: 0 1px 5px #aaa;
}